.meanings {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 50vh;
    border-radius: .5rem;
    padding: 1rem 2rem;
}

.sub-title {
    font-size: 2rem;
}

.unique-meaning {
    display: flex;
    flex-direction: column;
    padding: .5rem 1.5rem;
    margin: .5rem 0;
}

span {
    display: block;
}